[Unit]
Description=TEST-57-DONT-ADD-RECURSIVE-TEMPLATE-DEPS

[Service]
ExecStartPre=rm -f /failed /testok
ExecStart=/usr/lib/systemd/tests/testdata/units/%N.sh
Type=oneshot
